header {
  height: 100%;
}

/* Contains header image, attract text, and links to drive/ride */
.header-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 5em;
}
@media screen and (max-width: 1024px) {
  header {
    height: initial;
  }
  .header-container {
    flex-flow: column wrap;
    padding: 0 2.5em;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 1.5em;
  }
}

/* Right side of header, contains only header image */
.header-right {
  flex: 50%;
  order: 2;
  overflow: hidden;
}
.header-img-container {
  overflow: hidden;
}
.header-img {
  display: block;
  object-fit: fill;
  object-position: 50% 50%;
  max-width: 100vw;
  max-height: 95vh;
  width: auto;
  height: auto;
  margin: 0 -30%;
}
@media screen and (max-width: 1024px) {
  .header-right {
    order: 1;
  }
  .header-img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: none;
  }
}

/* Left side of container, contains attract text and links to drive/ride */
.header-left {
  flex: 50%;
  order: 1;
  display: flex;
  flex-flow: column wrap;
}
.title-text-container {
  flex: 65%;
  display: flex;
  align-items: center;
}
.title-text-container h1 {
  margin: 2em 2em 1em 0;
  font-size: 70px;
  font-weight: bold;
}
.drive-ride-container {
  flex: 35%;
  display: flex;
  flex-flow: row wrap;
}
.drive {
  flex: 50%;
  position: relative;
}
.drive a {
  display: block;
  position: absolute;
  bottom: 0;
}
.ride {
  flex: 50%;
  position: relative;
}
.ride a {
  display: block;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .header-left {
    order: 2;
  }
  .title-text-container h1 {
    margin: 0.5em 0;
  }
}
@media screen and (max-width: 768px) {
  .title-text-container h1 {
    font-size: 40px;
  }
  .drive-ride-container {
    flex-flow: column wrap;
  }
}
