header {
  height: 100%;
}

/* Contains header image, attract text, and links to drive/ride */
.header-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 5em;
}
@media screen and (max-width: 1024px) {
  header {
    height: initial;
  }
  .header-container {
    flex-flow: column wrap;
    padding: 0 2.5em;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 1.5em;
  }
}
@media screen and (max-height: 680px) {
  header {
    height: initial;
  }
}

/* Right side of header, contains only header image */
.header-right {
  flex: 48%;
  order: 2;
  overflow: hidden;
}
.header-img-container {
  overflow: hidden;
}
.header-img {
  display: block;
  object-fit: fill;
  object-position: 50% 50%;
  max-width: 100vw;
  max-height: 95vh;
  width: auto;
  height: auto;
  margin: 0 -30%;
}
@media screen and (max-width: 1024px) {
  .header-right {
    order: 1;
  }
  .header-img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: none;
  }
}

/* Left side of container, contains attract text and links to drive/ride */
.header-left {
  flex: 52%;
  order: 1;
  display: flex;
  flex-flow: column wrap;
}
.title-text-container {
  flex: 65%;
  display: flex;
  align-items: center;
}
.title-text-container h1 {
  margin: 2em 2em 1em 0;
  font-size: 70px;
  font-weight: bold;
}
.drive-ride-container {
  flex: 35%;
  display: flex;
  flex-flow: row wrap;
}
.drive-ride-container h2 {
  margin: 0 0 1.25em 0;
  font-size: 2em;
}
.drive-ride-container p {
  margin: 0.5em 0;
  padding-right: 50px;
  color: #333333;
}
.drive-ride-container .learn-more-link {
  display: block;
  margin-bottom: 1em;
  font-size: 1.25em;
  color: #333333;
}
.drive {
  flex: 50%;
  position: relative;
  min-height: 120px;
}
.drive-link {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 1em;
  text-decoration: none;
  color: white;
  background: #276EF1;
  border: 1px solid #276EF1;
}
.ride {
  flex: 50%;
  position: relative;
  min-height: 220px;
}
.ride-link {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 1em;
  text-decoration: none;
  color: #276EF1;
  border: 1px solid #276EF1;
}
@media screen and (max-width: 1024px) {
  .header-left {
    order: 2;
  }
  .title-text-container h1 {
    margin: 0.5em 0;
  }
  .drive-ride-container h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2em;
  }
  .drive-link, .ride-link {
    position: static;
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .title-text-container h1 {
    margin: 0.5em 0 0 0;
    font-size: 40px;
  }
  .drive-ride-container h2 {
    margin: 1.25em 0 0.5em 0;
    font-size: 1.75em;
  }
  .drive-ride-container {
    flex-flow: column wrap;
  }
}
